/node_modules
/log/*
/build/*
/src/config/secret.ts
/coverage
/.scannerwork
/config
/contract
/integration
/models
/routes
/utils
/app
/functions
/dist
/netlify
/sum
/bruno
/functions-server
/arch
test-report.xml
.dccache
.netlify
package-lock.json
awsec2oct27budgetnode.ppk
netifly
triedout.txt
indexokdec16.js
netify_user_Account.png
setLocalAngular.bat
budget-nodedec16.zip
tslog.txt
package.json.bak
packagecreateonremote.json
Total_Clients_ip_address.png
Node_ExternalAuth_Google_redirect_url_from_node.txt
tsconfig.json.bak
bcriptPassword.js 
app.actual.yaml
app
README_NETLIFY.txt
README_NETLIFY_LOGS_ECHO-IT.js
README_AWS_EC2_deploy.txt
README.xlsx
id_rsaOct27*